<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <%products.forEach (product=> { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price.toFixed(2) %></td>
                    <td><%= product.Category.name %></td>
                    <td><%= product.Supplier.name %></td>
                    <td>
                    <form action="/delete-product/<%= product.id %>" method="POST" style="display:inline;">
                        <button type="submit">Удалить</button>
                    </form>
                        <button onclick="window.location.href='/edit-product/<%= product.id %>'">Изменить</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="buttons">
        <button onclick="window. location.href='/add-product'">Добавить продукт </button>
        <button onclick="window. location.href='/add-category'">Добавить категорию</button>
        <button onclick="window. location.href='/add-supplier'">Добавить поставщика</button>
</div>
</body>
</html>